.home-text {
  padding-left: 20px;
  min-height: 80vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .tag > span {
    background-color: var(--btn1-color);
    color: var(--white-color);
    padding: 3px 6px;
    font-size: 12px;
    border-radius: 5px;
  }

  .identity {
    font-size: 50px;
    font-weight: 600;
    color: var(--text-color);
  }

  .subtitle {
    font-size: 20px;
    margin-bottom: 30px;
    color: var(--text-color);
  }

  .text-btn {
    display: flex;
    gap: 20px;

    > .purple-btn {
      background-color: var(--purple-color);
      color: var(--white-color);

      &:hover {
        background-color: rgb(40, 91, 212);
      }
    }
  }
  .icons {
    display: flex;
    margin-top: 5em;
    gap: 30px;
  }
}

.home-image {
  display: flex;
  width: 50%;
  min-height: 80vh;
  padding-left: 250px;
  z-index: -1;

  .image {
    display: flex;
    border-radius: 20px;
    clip-path: ellipse(35% 21%);
    align-items: center;
  }

  img {
    width: 380px;
    height: 300px;
  }
}
