@import "./nav";
@import "./btn.scss";
@import "./home";

:root {
  --text-color: rab(68, 68, 68);
}

body {
  background-color: rgb(250, 250, 250); // 設定整個背景顏色

  .container {
    width: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  padding-inline: 10vw; //This is a shorthand property for setting both padding-left and padding-right at the same time. It's a convenient way to control the horizontal padding of an element.

  .section {
    padding-block: 6em;
  }

  .home-box {
    min-height: 700px;
    display: flex;
    padding-block: 6em;
    height: 700px;
  }
}

html {
  scroll-behavior: smooth;
}
