@import "./nav";
@import "./btn.scss";
@import "./home";
@import "./about";
@import "./skill";
@import "./contact";
@import "./footer";

:root {
  --text-color: rgb(68, 68, 68);
  --logo-color: rgb(29, 153, 171);
  --body-color: rgb(250, 250, 250);

  --btn1-color: rgb(170, 142, 18);
  --shadow-color: rgb(0, 0, 0, 0.1);

  --white-color: rgb(255, 255, 255);
  --purple-color: rgb(112, 90, 224);
  --skyblue-color: rgb(0, 201, 255);
}

body {
  background-color: var(--body-color); // 設定整個背景顏色

  .container {
    width: 100%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  padding-inline: 10vw; //This is a shorthand property for setting both padding-left and padding-right at the same time. It's a convenient way to control the horizontal padding of an element.

  .section {
    padding-block: 6em;

    .top-header {
      text-align: center;
      margin-bottom: 5em;

      h1 {
        font-size: 600;
        margin-bottom: 10px;
      }
    }
  }

  .home-box {
    min-height: 800px;
    display: flex;
    padding-block: 6em;
    height: 700px;
  }
}

html {
  scroll-behavior: smooth;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0px 2px 5px 0px rgb(0, 0, 0, 0.25);
  width: 40px;
  height: 40px;
}
